#sec1 {
    background-image: url("../img/wp2208685-pubg-wallpapers.png");
    padding: 6% 0 0 0;
}
#sec2 {
    /*background-image: url("../img/wp2208685-pubg-wallpapers.png");*/
    padding: 6% 0 0 0;
    background: #282828;
}